dist/
node_modules
npm-debug.log
*.swp
*.psd
.idea
.project
.settings
tags
nbproject/*
*.mp4
*.webm
dist
*.webp
*.glb
*.gltf
*.usdz
*.po~
*.mo~
*.po
*.mo
*.pot~
Thumbs.db
# Mac OS
.DS_Store
._.*
._*

